@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'GT Walsheim Trial'; 
  src: url('/fonts/GT-Walsheim-Trial-Regular.woff2') format('woff2'),
       url('/fonts/GT-Walsheim-Trial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Trial';
  src: url('/fonts/GT-Walsheim-Trial-Bold.woff2') format('woff2'),
       url('/fonts/GT-Walsheim-Trial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}